{
	"mode": "discord",
	"basecolor": "#F36B00",
	"name": "NeKit",
	"prefix": "nk!",
	"info": "крутямбовый бот",

	"WARNING!": "TOKENS BELOW!",
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	"token_discord": "OTI5NDQzOTIxMDY5NzUyMzMx.GJiEjh.D1cNR6FrQWDcjdUiHdxp_rrLniAQZaVc7WGyNc",
	"token_telegram": "5046105122:AAFGeeHOB0Pa3h2YhAxjGnTqnJCWNb02SLU"
}