{
	"basecolor": "#FFFFFF",
	"name": "NeKit",
	"prefix": "n!",
	"info": "статус",

	"WARNING!": "TOKENS BELOW!",
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	"token_discord": "",
	"token_telegram": ""
}